<!DOCTYPE html>
<html>
<body>

<h2>HTML Forms</h2>

<form action="/submit" method='post'>
  <label for="CRIM">CRIM:</label>
  <input type="text" id="CRIM" name="CRIM" value="0"><br><br>
  <label for="ZN">ZN:</label>
  <input type="text" id="ZN" name="ZN" value="0"><br><br>
  <label for="INDUS">INDUS:</label>
  <input type="text" id="INDUS" name="INDUS" value="0"><br><br>
  <label for="CHAS">CHAS:</label>
  <input type="text" id="CHAS" name="CHAS" value="0"><br><br>
  <label for="NOX">NOX:</label>
  <input type="text" id="NOX" name="NOX" value="0"><br><br>
  <label for="RM">RM:</label>
  <input type="text" id="RM" name="RM" value="0"><br><br>
  <label for="AGE">AGE:</label>
  <input type="text" id="AGE" name="AGE" value="0"><br><br>
  <label for="DIS">DIS:</label>
  <input type="text" id="DIS" name="DIS" value="0"><br><br>
  <label for="RAD">RAD:</label>
  <input type="text" id="RAD" name="RAD" value="0"><br><br>
  <label for="TAX">TAX:</label>
  <input type="text" id="TAX" name="TAX" value="0"><br><br>
  <label for="PTRATIO">PTRATIO:</label>
  <input type="text" id="PTRATIO" name="PTRATIO" value="0"><br><br>
  <label for="B">B:</label>
  <input type="text" id="B" name="B" value="0"><br><br>
  <label for="LSTAT">LSTAT:</label>
  <input type="text" id="LSTAT" name="LSTAT" value="0"><br><br>
  <input type="submit" value="Submit">
</form> 

<p>If you click the "Submit" button, the form-data will be sent to a page called "/submit".</p>

</body>
</html>